* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 3.1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.notifyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden !important;
}